In [345]:
import pandas as pd
import matplotlib as plt
import numpy as np
import seaborn as sns
df=pd.read_csv("data.csv")
df_1=pd.read_csv("data.csv")
df.head()

,Safety,yacEPA,Drive,FieldGoalDistance,airEPA,Field_Goal_Prob,posteam,Penalty.Yards,FieldGoalResult,DefTeamScore,...,Accepted.Penalty,qtr,AwayTimeouts_Remaining_Post,RunGap,Reception,TimeUnder,Season,Opp_Safety_Prob,No_Score_Prob,Challenge.Replay
244485,0,1.240299,18,NaN,-0.588101,0.309404,TB,0,NaN,10.0,...,0,3,3,NaN,1,1,2014,0.000527,0.024134,0
115340,0,NaN,22,NaN,NaN,0.198142,OAK,0,NaN,14.0,...,0,4,3,NaN,0,7,2011,0.001883,0.246929,0
68357,0,NaN,8,NaN,NaN,0.000000,NYJ,0,NaN,13.0,...,0,2,1,NaN,0,1,2010,0.000000,0.000000,0
368377,0,1.075660,24,NaN,0.402080,0.258227,CLE,0,NaN,31.0,...,0,4,0,NaN,1,9,2017,0.000845,0.133814,0
384684,0,NaN,11,NaN,NaN,0.199771,DEN,0,NaN,24.0,...,0,2,2,end,0,10,2017,0.003453,0.170787,0

# dropna orqali NaN qiymati bolgan barcha qiymatlarni ochirish (afsuski hama qatorlarda NaN qiymatlar bolgani uchun hama qatorla ochib ketdi)

In [346]:
df.dropna()

Empty DataFrame
Columns: [Safety, yacEPA, Drive, FieldGoalDistance, airEPA, Field_Goal_Prob, posteam, Penalty.Yards, FieldGoalResult, DefTeamScore, Tackler2, Away_WP_pre, Timeout_Indicator, ydsnet, TimeSecs, Passer, Touchdown, TwoPointConv, PassOutcome, PlayTimeDiff, RushAttempt, Accepted.Penalty, qtr, AwayTimeouts_Remaining_Post, RunGap, Reception, TimeUnder, Season, Opp_Safety_Prob, No_Score_Prob, Challenge.Replay]
Index: []

[0 rows x 31 columns]

In [347]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40769 entries, 244485 to 247608
Data columns (total 31 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Safety                       40769 non-null  int64
 1   yacEPA                       15867 non-null  float64
 2   Drive                        40769 non-null  int64
 3   FieldGoalDistance            902 non-null    float64
 4   airEPA                       15875 non-null  float64
 5   Field_Goal_Prob              40748 non-null  float64
 6   posteam                      38219 non-null  object
 7   Penalty.Yards                40769 non-null  int64
 8   FieldGoalResult              908 non-null    object
 9   DefTeamScore                 38019 non-null  float64
 10  Tackler2                     4943 non-null   object
 11  Away_WP_pre                  38223 non-null  float64
 12  Timeout_Indicator            40769 non-null  int64
 13  ydsnet                       40769 non-null  int64
 14  TimeSecs                     40742 non-null  float64
 15  Passer                       16696 non-null  object
 16  Touchdown                    40769 non-null  int64
 17  TwoPointConv                 53 non-null     object
 18  PassOutcome                  16751 non-null  object
 19  PlayTimeDiff                 40726 non-null  float64
 20  RushAttempt                  40769 non-null  int64
 21  Accepted.Penalty             40769 non-null  int64
 22  qtr                          40769 non-null  int64
 23  AwayTimeouts_Remaining_Post  40769 non-null  int64
 24  RunGap                       8761 non-null   object
 25  Reception                    40769 non-null  int64
 26  TimeUnder                    40769 non-null  int64
 27  Season                       40769 non-null  int64
 28  Opp_Safety_Prob              40748 non-null  float64
 29  No_Score_Prob                40748 non-null  float64
 30  Challenge.Replay             40769 non-null  int64
dtypes: float64(10), int64(14), object(7)
memory usage: 10.0+ MB

# Chellemge.Replay ustunini NaN qiymatlari orniga 0 bilan toldirish

In [348]:
df["Challenge.Replay"]=df["Challenge.Replay"].fillna(0)

# fillna methodini ishlatganimizdan keyin type float bolib qoladi uni yana int64 type ozgartirish

In [349]:
df["Challenge.Replay"].astype("int64")

244485    0
115340    0
68357     0
368377    0
384684    0
         ..
79438     0
398233    0
396466    0
333861    0
247608    0
Name: Challenge.Replay, Length: 40769, dtype: int64

# No_Score_Prob columns da 21 ta NaN qiymat bor ekan va ularni mode bilan toldiramz

In [350]:
n=df["No_Score_Prob"].agg(["isnull"]).value_counts()
print(n)
m=df["No_Score_Prob"].mode()[0]
df["No_Score_Prob"]=df["No_Score_Prob"].fillna(m)

isnull
False     40748
True         21
Name: count, dtype: int64

# Natija

In [351]:
n=df["No_Score_Prob"].agg(["isnull"]).value_counts()
print(n)

isnull
False     40769
Name: count, dtype: int64

# Opp_Safety_Prob ni No_Score_Prob kabi mode bilan toldiramz

In [352]:
n=df["Opp_Safety_Prob"].agg(["isnull"]).value_counts()
print(n)
m=df["Opp_Safety_Prob"].mode()[0]
df["Opp_Safety_Prob"]=df["Opp_Safety_Prob"].fillna(m)

isnull
False     40748
True         21
Name: count, dtype: int64

# Natija

In [353]:
n=df["Opp_Safety_Prob"].agg(["isnull"]).value_counts()
print(n)

isnull
False     40769
Name: count, dtype: int64

# RunGap da 8761 ta NaN qiymat bor ekan ularni mode bn toldiramz

In [354]:
n=df["RunGap"].isnull().value_counts()
print(n)
m=df["RunGap"].mode()[0]
df["RunGap"]=df["RunGap"].fillna(m)

RunGap
True     32008
False     8761
Name: count, dtype: int64

# PlayTimeDiff ni mediana bilan toldiramz sababi qaiymatlar orasida farqlar juda katta

In [355]:
n=df['PlayTimeDiff'].isnull().value_counts()
print(n)
df['PlayTimeDiff']=df['PlayTimeDiff'].fillna(df['PlayTimeDiff'].median())

PlayTimeDiff
False    40726
True        43
Name: count, dtype: int64

# Natija

In [356]:
n=df['PlayTimeDiff'].isnull().value_counts()
print(n)

PlayTimeDiff
False    40769
Name: count, dtype: int64

# PassOutcome mode bn toldiramz

In [357]:
n=df['PassOutcome'].isnull().value_counts()
print(n)
df['PassOutcome']=df['PassOutcome'].fillna(df['PassOutcome'].mode()[0])

PassOutcome
True     24018
False    16751
Name: count, dtype: int64

# Natija

In [358]:
n=df['PassOutcome'].isnull().value_counts()
print(n)

PassOutcome
False    40769
Name: count, dtype: int64

# TwoPointConv ustunida 40716 ta NaN qiymat va bor yog'i 53 data bolganligi uchun u ustunni ochrib tawlaymz

In [359]:
n=df['TwoPointConv'].isnull().value_counts()
print(n)
df=df.drop(columns=["TwoPointConv"])

TwoPointConv
True     40716
False       53
Name: count, dtype: int64

In [360]:
df.columns

Index(['Safety', 'yacEPA', 'Drive', 'FieldGoalDistance', 'airEPA',
       'Field_Goal_Prob', 'posteam', 'Penalty.Yards', 'FieldGoalResult',
       'DefTeamScore', 'Tackler2', 'Away_WP_pre', 'Timeout_Indicator',
       'ydsnet', 'TimeSecs', 'Passer', 'Touchdown', 'PassOutcome',
       'PlayTimeDiff', 'RushAttempt', 'Accepted.Penalty', 'qtr',
       'AwayTimeouts_Remaining_Post', 'RunGap', 'Reception', 'TimeUnder',
       'Season', 'Opp_Safety_Prob', 'No_Score_Prob', 'Challenge.Replay'],
      dtype='object')

# Passer ustunida ham data kamligi un olib tawlaymz

In [361]:
n=df['Passer'].isnull().value_counts()
print(n)
df=df.drop(columns=["Passer"])

Passer
True     24073
False    16696
Name: count, dtype: int64

In [362]:
n=df['TimeSecs'].isnull().value_counts()
print(n)
df['TimeSecs']=df['TimeSecs'].fillna(df['TimeSecs'].mean())

TimeSecs
False    40742
True        27
Name: count, dtype: int64

# NAtija

In [363]:
n=df['TimeSecs'].isnull().value_counts()
print(n)

TimeSecs
False    40769
Name: count, dtype: int64

In [364]:
n=df['Away_WP_pre'].isnull().value_counts()
print(n)
df['Away_WP_pre']=df['Away_WP_pre'].fillna(df['Away_WP_pre'].mean())

Away_WP_pre
False    38223
True      2546
Name: count, dtype: int64

# natija

In [365]:
n=df['Away_WP_pre'].isnull().value_counts()
print(n)

Away_WP_pre
False    40769
Name: count, dtype: int64

In [366]:
n=df['Tackler2'].isnull().value_counts()
print(n)
df['Tackler2']=df['Tackler2'].fillna("None Name")

Tackler2
True     35826
False     4943
Name: count, dtype: int64

# Natija

In [367]:
n=df['Tackler2'].isnull().value_counts()
print(n)

Tackler2
False    40769
Name: count, dtype: int64

In [368]:
n=df['DefTeamScore'].isnull().value_counts()
print(n)
df['DefTeamScore']=df['DefTeamScore'].fillna(df['DefTeamScore'].mode()[0])

DefTeamScore
False    38019
True      2750
Name: count, dtype: int64

# natiaja

In [369]:
n=df['DefTeamScore'].isnull().value_counts()
print(n)

DefTeamScore
False    40769
Name: count, dtype: int64

In [370]:
n=df['FieldGoalResult'].isnull().value_counts()
print(n)
df['FieldGoalResult']=df['FieldGoalResult'].fillna(df['FieldGoalResult'].mode()[0])

FieldGoalResult
True     39861
False      908
Name: count, dtype: int64

# Natija

In [371]:
n=df['FieldGoalResult'].isnull().value_counts()
print(n)

FieldGoalResult
False    40769
Name: count, dtype: int64

In [372]:
n=df['posteam'].isnull().value_counts()
print(n)
df['posteam']=df['posteam'].fillna(df['posteam'].mode()[0])

posteam
False    38219
True      2550
Name: count, dtype: int64

# NAtija

In [373]:
n=df['posteam'].isnull().value_counts()
print(n)

posteam
False    40769
Name: count, dtype: int64

In [374]:
n=df['Field_Goal_Prob'].isnull().value_counts()
print(n)
df['Field_Goal_Prob']=df['Field_Goal_Prob'].fillna(df['Field_Goal_Prob'].mean())

Field_Goal_Prob
False    40748
True        21
Name: count, dtype: int64

In [375]:
n=df['Field_Goal_Prob'].isnull().value_counts()
print(n)

Field_Goal_Prob
False    40769
Name: count, dtype: int64

# airEPA ustunida ham data kamligi un olib tawlaymz

In [376]:
n=df['airEPA'].isnull().value_counts()
print(n)
df=df.drop(columns="airEPA")

airEPA
True     24894
False    15875
Name: count, dtype: int64

In [377]:
n=df['FieldGoalDistance'].isnull().value_counts()
print(n)
df['FieldGoalDistance']=df['FieldGoalDistance'].fillna(df['FieldGoalDistance'].median())

FieldGoalDistance
True     39867
False      902
Name: count, dtype: int64

In [378]:
n=df['FieldGoalDistance'].isnull().value_counts()
print(n)

FieldGoalDistance
False    40769
Name: count, dtype: int64

# yacEPA ustunida ham data kamligi un olib tawlaymz

In [379]:
n=df['yacEPA'].isnull().value_counts()
print(n)
df=df.drop(columns='yacEPA')

yacEPA
True     24902
False    15867
Name: count, dtype: int64

# Dastlabki dataset

In [380]:
df_1.dropna()

Empty DataFrame
Columns: [Safety, yacEPA, Drive, FieldGoalDistance, airEPA, Field_Goal_Prob, posteam, Penalty.Yards, FieldGoalResult, DefTeamScore, Tackler2, Away_WP_pre, Timeout_Indicator, ydsnet, TimeSecs, Passer, Touchdown, TwoPointConv, PassOutcome, PlayTimeDiff, RushAttempt, Accepted.Penalty, qtr, AwayTimeouts_Remaining_Post, RunGap, Reception, TimeUnder, Season, Opp_Safety_Prob, No_Score_Prob, Challenge.Replay]
Index: []

[0 rows x 31 columns]

# Malumotlarni tozalagandan keyngi holat

In [381]:
df.dropna()

,Safety,Drive,FieldGoalDistance,Field_Goal_Prob,posteam,Penalty.Yards,FieldGoalResult,DefTeamScore,Tackler2,Away_WP_pre,...,Accepted.Penalty,qtr,AwayTimeouts_Remaining_Post,RunGap,Reception,TimeUnder,Season,Opp_Safety_Prob,No_Score_Prob,Challenge.Replay
244485,0,18,38.0,0.309404,TB,0,Good,10.0,None Name,0.774353,...,0,3,3,end,1,1,2014,0.000527,0.024134,0
115340,0,22,38.0,0.198142,OAK,0,Good,14.0,None Name,0.943964,...,0,4,3,end,0,7,2011,0.001883,0.246929,0
68357,0,8,38.0,0.000000,NYJ,0,Good,13.0,None Name,0.634693,...,0,2,1,end,0,1,2010,0.000000,0.000000,0
368377,0,24,38.0,0.258227,CLE,0,Good,31.0,None Name,0.064005,...,0,4,0,end,1,9,2017,0.000845,0.133814,0
384684,0,11,38.0,0.199771,DEN,0,Good,24.0,None Name,0.071526,...,0,2,2,end,0,10,2017,0.003453,0.170787,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79438,0,3,38.0,0.381506,NO,0,Good,0.0,None Name,0.163670,...,0,1,3,guard,0,3,2010,0.000021,0.005075,0
398233,0,9,38.0,0.244675,DEN,0,Good,0.0,None Name,0.139549,...,0,2,3,guard,0,3,2017,0.000134,0.287528,0
396466,0,8,38.0,0.147057,ATL,0,Good,10.0,None Name,0.467202,...,0,2,1,guard,0,1,2017,0.001132,0.612357,0
333861,0,14,38.0,0.373774,IND,0,Good,13.0,None Name,0.773475,...,0,3,3,end,1,7,2016,0.000042,0.002641,0
247608,0,6,38.0,0.210732,CIN,0,Good,3.0,None Name,0.613732,...,0,1,3,end,0,2,2014,0.006138,0.040037,0